<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<h1>Hello</h1>
<h1>Applications</h1>
<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Status</th>
            <th>SELECT</th>
        </tr>

        <form action="{% url 'trials:selected_badminton' %}" method = "post">
            {% csrf_token %}
            {% for app in app_game %}
            <tr>
                <td>{{ app.user }}</td>
                <td>{{ app.fullname }}</td>
                <td>{{ app.status }}</td>
                <td><input type="checkbox" id="user{{ forloop.counter }}" name="app{{ forloop.counter }}" value="{{ app.id }}">
                    {% if app.status %}
                        <img src="http://i.imgur.com/b9b13Rd.png">
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        <input type="submit" value="Submit">
        </form>
    </thead>

</table>
</body>
</html>
