<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% if request.user.is_active and request.user.is_staff %}
<a href="{% url 'trials:applications_cricket' %}">Cricket</a><br>
<a href="{% url 'trials:applications_badminton' %}">Badminton</a><br>
<a href="{% url 'trials:applications_football' %}">Football</a><br>
<a href="{% url 'trials:applications_basketball' %}">Basketball</a><br>
<a href="{% url 'trials:applications_volleyball' %}">Volleyball</a><br>
<a href="{% url 'trials:applications_chess' %}">Chess</a><br>
<a href="{% url 'trials:applications_carrom' %}">Carrom</a><br>
<a href="{% url 'trials:applications_table_tennis' %}">Table Tennis</a><br>
<a href="{% url 'trials:applications_tug_of_war' %}">Tug of War</a><br>
<a href="{% url 'trials:applications_athletics' %}">Athletics</a><br>


{% else %}
<a href="{% url 'trials:apply_cricket' %}">Cricket</a><br>
<a href="{% url 'trials:apply_badminton' %}">Badminton</a><br>
<a href="{% url 'trials:apply_football' %}">Football</a><br>
<a href="{% url 'trials:apply_basketball' %}">Basketball</a><br>
<a href="{% url 'trials:apply_volleyball' %}">Volleyball</a><br>
<a href="{% url 'trials:apply_chess' %}">Chess</a><br>
<a href="{% url 'trials:apply_carrom' %}">Carrom</a><br>
<a href="{% url 'trials:apply_table_tennis' %}">Table Tennis</a><br>
<a href="{% url 'trials:apply_tug_of_war' %}">Tug of War</a><br>
<a href="{% url 'trials:apply_athletics' %}">Athletics</a><br>
{% endif %}
</body>
</html>
