<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Match Details</h1>
TEAM 1 - {{ schedulecricket.host }}<br>
TEAM 2 - {{ schedulecricket.opponent }}<br>
MATCH DATE - {{ schedulecricket.date }}<br>
MATCH NUMBER - {{ schedulecricket.match_no }}<br>
<br><br>
WINNER - {{ schedulecricket.winner }}<br>
RUNNER-UP - {{ schedulecricket.runner_up }}<br>

{% if request.user.is_active and request.user.is_staff %}

    <form action="{% url 'saksham17:set_winner_cricket' %}" method="post">
        {% csrf_token %}
        <select name="winner_value">
            <option name="team1" value="{{ schedulecricket.host }}">{{ schedulecricket.host }}</option>
            <option name="team2" value="{{ schedulecricket.opponent }}">{{ schedulecricket.opponent }}</option>
            <option name="tie" value="tie">TIE</option>
            <option name="no" value="tie">No Result</option>
        </select>
        <input type="hidden" name="match" value="{{ schedulecricket.id }}">
        <input type="submit" value="Sumbit">
    </form>
<br><br><br><br><br><br><br><br><br><br><br>

    <form action="{% url 'saksham17:match_details_create' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="match_no" value="{{ schedulecricket.match_no }}">
        <table>
        {% for player in players %}
            <tr>
                <td>{{ player.user }}</td>
                <td>{{ player.fullname }}</td>
                <td>{{ player.status }}</td>
                <td>
                    <input type="checkbox" name="player{{ player.id }}" value="player{{ player.id }}">
                </td>
            </tr>
        {% endfor %}
        </table>
        <input type="submit" value="MATCH DETAILS">
    </form>
{% endif %}
</body>
</html>
