<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<h1>Hello</h1>
<h1>Schedule</h1>
<table>
    <thead>
        <tr>
            <th>HOST</th>
            <th>OPPONENT</th>
            <th>DATE</th>
        </tr>
        {% for sch in schedule %}
        <tr>
            <td>{{ sch.host }}</td>
            <td>{{ sch.opponent }}</td>
            <td>{{ sch.starting_date }}</td>
        </tr>
        {% endfor %}
    </thead>

</table>
</body>
</html>
